<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard (logged as <%= username %>) | Geantbot</title>
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <meta content="Geantbot" property="og:title" />
        <meta content="Geantbot website" property="og:description" />
        <meta content="https://geantbot.xyz" property="og:url" />
        <meta content="https://geantbot.xyz/assets/logo.png" property="og:image"/>
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
        <link rel="icon" type="image/png" href="/assets/logo.png">
    </head>
    <body>
        <header class="header">
            <img src="./assets/logo.png" width="100px" height="100px" onclick="window.location.href='/'" class="logo">
            <nav class="navbar">
                <a href="/" class="selected">Home</a>
                <a href="#">Terms of Service</a>
                <a href="#">Commands</a>
                <a href="#">Documentation</a>
                <a href="/logout">Logout (logged as <%= username %>)</a>
            </nav>
            <img src="assets/menu.png" class="menu" id="menu-icon">
        </header>
        <br><br><br><br><br><br><br>
        <div class="head">
            <h1 class="Text">Welcome, @<%= username %></h1>
            <br>
            <h3 class="Text">You server doesn't show? <a href="https://forms.office.com/r/kCz08Y7MgC">invite the bot now!</a></h3>
        </div>
        <div class="servers">
            <h1 class="Text">Current servers</h1>
            <br><br>
            <section class="servers_list">
                <ul class="server_list">
                    <% for (var i = 0; i < guilds.length; i++) { %>
                        <% if (guilds[i].hasPerm) { %>
                            <li class="server">
                                <div class="access">
                                    <img src="<%= guilds[i].avatar %>" class="icon">
                                    <h1 class="Text"><%= guilds[i].name %></h1>
                                    <a class="button" href="/server/<%= guilds[i].id %>">configure</a>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </section>
        </div>
    </body>
</html>